<% if (opt.enabled) { %>
    <section id="marketing" class="custom-html my-4 my-lg-5">
      <div class="container">
        <div class="html-clearfix">
            <div class="video">
                <div class="row">
                   <div class="col-12 col-md-7">
                      <div class="content">
                         <div class="r-35000-parent">
                            <div class="nc-extreme">NC Extreme ®️</div>
                            <div class="instinto-de-superao-container">
                               <p class="grtis">INSTINTO DE</p>
                               <p class="grtis">SUPERAÇÃO</p>
                            </div>
                         </div>
                         <div class="ganhe-10-de-desconto-em-sua-1-parent">
                            <div class="nc-extreme"><span>Ganhe 10% de desconto </span><span class="em-sua-1">em sua 1º compra!</span></div>
                            <div class="search-parent">
                               <div class="search">
                                  <form class="form"><input id="nome-email" class="form-control" placeholder="NOME"></form>
                               </div>
                               <div class="search">
                                  <form class="form1"><img class="mail-icon" alt="" src="/img/uploads/mail.svg"><input id="email-form" class="form-control" placeholder="     Digite seu e-mail"></form>
                               </div>
                               <div class="button16">
                                  <div class="button17">
                                     <div class="text10">ENVIAR</div>
                                     <img class="bag-shop-icon" alt="" src="/img/uploads/chevronright1.svg">
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="col-12 col-md-5">
                      <div class="video-item"></div>
                   </div>
                </div>
            </div>
        </div>
      </div>
    </section>
<% } %>
 