// Add your custom CSS here.
.pag-1::before {
    background: url(/img/uploads/pag-1.png);
}
.pag-2::before {
    background: url(/img/uploads/pag-2.png);
}
.footer {
    background-color: #212529 !important;
}
#selos_pagamentos b, #selos_segurancas b {
    font-size: 16px;
    color: #fff;
    font-weight: 600 !important;
    text-transform: uppercase;
}
#creditos {
    background-color: #17191C;
    span {
        color: #DEE2E6;
    }
    img {
        margin-right: 24px;
    }
    .footer__credits {
        margin-top: 0;
        border: none;
        padding-bottom: var(--spacer-3);
    }
    #go-to-top {
        background-color: #17191C;   
        border: none;
    }
}
.footer__title {
    font-size: 16px;
    color: #DEE2E6;
    font-weight: 600;
    text-transform: uppercase;
}
.footer__links li a {
    font-size: 14px;
    color: #DEE2E6;
}
.footer__contacts .list-unstyled * {
    color: #DEE2E6 !important;
}
.footer__social i {
    color: #DEE2E6;;
}
.footer address::before {
    background-image: url(/img/uploads/icon-place.png);
    height: 40px;
}
.footer .container .row:not(:last-child) {
    padding-bottom: 2rem;
    border-bottom: .5px solid #ccc;
}
#list-categories {
    padding-top: 2.5rem;
}
.footer__title::after {
    content: none !important;
}
.top-bar__countdown {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), #A8AAAE;
    @media(min-width: 992px) {
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        max-width: var(--content-max-width);
    }
    color: #212529;
    b {
        font-weight: 700;
    }
}
.tarja-top {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), #A8AAAE;
}
.top-bar__page-links a {
    font-weight: 400;
}
.i-user::before {
    content: url(/img/uploads/user.svg);
}
.i-shopping-bag::before {
    content: url(/img/uploads/bagshop3.svg);
}
.i-search::before {
    content: url(/img/uploads/search.svg);
}
.i-heart::before {
    content: url(/img/uploads/heart.svg);
}
#cart-count {
    background-color: #C01818;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    font-size: 13px;
    top: 10px;
    right: -4px;
}
.header__search-btn {
    background: rgba(168, 170, 174, 0.16);
    border-radius: 100px;
    right: -11px;
}
#search-input {
    font-size: 16px !important;
}
.header__search {
    overflow: inherit;
}
.top-bar__nav {
    display: none !important;
}

#header {
    background-color: #fff;
}
@media(min-width: 767px) {
    .header {
      padding-bottom: 0;
      padding-right: 0;
      padding-left: 0;
      border-bottom: 0;
      &__row {
        justify-content: space-between;
      }
      .header__nav-block {
        margin-top: 10px;
        background-color: #0E0E0E;
        color: #fff;
        .header__nav--full a {
            color: #fff;
            padding: 17px 10px;
            margin-top: 0;
            font-weight: 700;
            font-size: 15px;
        }
      }
      .header__buttons-block {
        padding-right: 15px;
      }
      .header__toggler-block {
        display: none;
      }
      .header__logo {
        min-height: 100px;
      }
    }
}
#cd-promo {
    color: #FD7E14;
}
#search-bar {
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 8px 15px rgba(165, 163, 174, 0.25);
    border: 1px solid #dbdade;
    box-sizing: border-box;
    @media(min-width: 992px) {
        max-width: 529px;
    }
}
.header__submenu {
    margin-top: 0;
    border-radius: 8px;
    gap: unset;
    grid-template-columns: unset;
    a {
        color: #4B465C !important;
        font-size: 14px !important;
        font-weight: 400 !important;
        padding: 3px 10px !important;
    }
}
.i-shipping-fast::before {
    content: url(/img/uploads/local-shipping.svg);
}
.i-percent::before {
    content: url(/img/uploads/percent.svg);
}
.i-credit-card::before {
    content: url(/img/uploads/credit-card.svg);
}
.i-exchange::before {
    content: url(/img/uploads/verified-user.svg);
}
.info-bar {
    background-color: #fff;
    color: #212529;
    text-transform: uppercase;
    font-size: 16px;
    #shipping-fast, #exchange {
        .info-bar__text {
            font-weight: 700;
        }
    }
    #credit-card, #percent {
        .info-bar__title {
            font-weight: 700;
        }
    }
    .rounded-icon {
        padding-top: .375rem;
        background-color: rgba(192, 24, 24, 0.16);
        border-radius: 50px;
    } 
}
#s-todos .footer__title {
    font-weight: 700 !important;
    color: #212529 !important
}
.header__category:hover {
    background: unset;
}
.products-carousel__title::before {
    background: #c01818;
    content: " ";
    height: 4px;
    left: 0;
    margin-top: -.05rem;
    position: absolute;
    top: 0;
    width: 59px;
}
.products-carousel__title {
    text-align: unset;
    padding-left: 0;
    text-transform: uppercase;
    font-weight: bold;
    span, a {
        padding-left: 0;
    }
}
.product-card__name {
    font-size: 20px;
    color: #212529;
    font-weight: 600;
    --max-lines: 4;
}
.product-card__buy button {
    background-color: #28C76F;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    i {
        color: #fff !important;
        position: absolute;
        top: 20%;
        left: 70%;
        &::before {
            content: url('/img/uploads/bagshop.svg');
            padding-left: 3px
        }
    }
}

@media(max-width: 767px) {
    .product-card__buy.fade {
        opacity: 1;
    }
}

.product-card {
    .prices__compare {
        color: #6C757D; 
    }
    .prices__installments {
        color: #6C757D;
        font-weight: bold !important;
        span {
            &::before {
                content: 'de';
                font-weight: normal !important;
            }
            &::after {
                content: 'no cartão';
                font-weight: normal !important;
            }
        }
    }
}
.i-chevron-left::before {
    content: url(/img/uploads/chevronleft.svg);
}
.i-chevron-right::before {
    content: url(/img/uploads/chevronright.svg);
}
.discount-unit {
    color: #28A745;
    font-size: 16px;
}
.product-card__prices {
    .prices__discount {
        display: none;
    }
    .prices__value {
        font-size: 24px;
    }
}
.product__prices {
    .prices__discount {
        display: none;
    }
}
.discount-tag-price {
    img {
        height: 28px;
    }
    position: absolute;
    margin-left: 16px;
    margin-top: -3px;
    @media(max-width: 668px) {
        margin-left: 5px;
        margin-top: 2px;
        font-size: 12px;
        img {
            height: 16.67px;
        }
        .discount-unit {
            font-size: 12px;
        }
    }
}
.quantity-selector__input {
    border: unset;
}
.quantity-selector__btn-container {
    margin-right: 16px;
    border-radius: 8px;
    border: 1px solid #DADADA;
    min-width: 89.6px !important;
    margin-left: 0px;
    .i-chevron-down::before {
        content: '-'
    }
    .i-chevron-up::before {
        content: '+'
    }
}
.product__buy .quantity-selector__label {
    width: 100%;
    button {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), #28C76F !important;
        border: unset;
        width: 100%;
    }
}
.product__sticky-buy {
    .discount-tag-price {
        display: none !important;
    }
}

.gallery .glide__bullets {
    display: none;
}
@media(min-width: 992px) {
    .gallery {
        flex-direction: column !important;
        &__stage {
            width: 100% !important;
        }
        &__thumbs {
            order: 2;
            display: inline-flex !important;
            flex-direction: row !important;
            flex-basis: 77px;
            margin: 15px 20px 0 0 !important;
            justify-content: center;
        }
        &__item {
            width: 77px;
            margin: 0 10px 0 0 !important;
        }
    }
}
#product-description .container::before {
    background: #c01818;
    content: " ";
    height: 4px;
    margin-top: -1rem;
    position: absolute;
    width: 59px;
}
.product__short-stock {
    background: unset;
    border-radius: unset;
    display: inline-block;
    font-weight: var(--font-light);
    padding: unset;
    color: #EA5455;
    text-transform: unset;
}
.variations__option--selected {
    border: 1px solid #C01818 !important;
    color: #C01818 !important;
    box-shadow: unset !important;
    background: #fff;
}
.product__name {
    font-size: 26px;
    color: #212529
}
.product__sku {
    font-size: 14px;
    color: #4B465C;
}
.shipping-calculator__form .input-group-append {
    .i-shipping-fast::before {
        background: url(/img/uploads/truck-3.png);
        content: '';
        width: 21px;
        height: 21px;
        background-size: 100% 100%;
        background-position: 0 2px;
        display: inline-block;
    }
    button {
        background-color: #98999d;
        border-radius: 8px !important;
        margin-left: 7px;
        border: unset;
    }
}
#shipping-calculator-zip {
    border-radius: 8px !important;
}
.shipping-calculator__form label {
    font-weight: 600;
}
.n-sei-cep {
    text-decoration-line: underline !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    color: #6f6b7d !important;
    margin-left: 4px;
}

.quantity-selector__label button {
    background-color: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), #28C76F;;
    border: none;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: 0.43px;
    i {
        color: #fff !important;
        position: absolute;
        @media(max-width: 767px) {
            left: 80%;
        }
        left: 75%;
        &::before {
            content: url('/img/uploads/bagshop.svg')
        }
    }
}
.product__sticky-buy a.btn-primary {
    background-color: #28C76F !important; 
    border: none;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.43px;
    i {
        display: none;
    }
}
.product-card {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    &:hover {
        border: 1px solid #ccc;
    }
}
.product-card__name, .product-card__rating, .product-card__prices, .product-card__buy {
    padding-left: var(--spacer-3);
    padding-right: var(--spacer-3);
    @media(max-width: 992px) {
        padding-left: var(--spacer-1);
        padding-right: var(--spacer-1);
    }
}
.product-card__picture img {
    width: 100%;
    border-radius: 4px;
    max-height: 100% !important;
}
#marketing, #marketing-footer {
    color: #fff;
    background: url(/img/uploads/video.gif) no-repeat, #111212;
    background-size: 50% 100%;
    background-position-x: right;
    @media(max-width: 767px) {
        background-size: 100% 100%;  
    } 
    .video {
        padding-top: 7%;
        padding-bottom: 7%;
        .content {
            top: calc(50% - 136px);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 32px;
        }
        .r-35000-parent {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 4px;
        }
        .nc-extreme {
            position: relative;
            line-height: 90%;
            font-weight: 600;
        }
        .instinto-de-superao-container {
            position: relative;
            @media(max-width: 767px) {
                font-size: 3rem;
            }
            font-size: 64px;
            line-height: 100%;
            font-weight: 800;
        }
        .grtis {
            margin: 0;
        }
        .ganhe-10-de-desconto-em-sua-1-parent {
            flex-direction: column;
            color: #FD7E14;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 16px;
        }
        .search-parent {
            @media(max-width: 767px) {
                flex-direction: column;
            }
            flex-direction: row;
            font-size: 18px;
            color: #fff;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 16px;
            .search {
                background-color:#fff;
                border: 1px solid #dbdade;
                box-sizing: border-box;
                flex-shrink: 0;
                border-radius: 8px;
                overflow: hidden;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
            }
        }
        .mail-icon {
            position: absolute;
            margin-top: 8px;
            margin-left: 5px;
        }
        .button16 {
            border-radius: 8px;
            background-color: #c01818;
            font-size: 17px;
        }
        .button16, .button17 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .button17 {
            padding: 7px 26px;
            gap: 10px;
        }
    }
}
.offers-timer {
    border-bottom: unset;
    padding-bottom: unset;
    .products-carousel .products-carousel__item {
        width: 100%;
    }
    background: linear-gradient(180deg, #e8e8e8, rgba(232, 232, 232, 0));
    @media (min-width: 992px) {
        .products-carousel {
            padding: 0 !important;
            margin: 0 !important;
            border-radius: 8px;
            background-color: unset;
        }
        .box-ofertas-parent {
            width: 288px;
            height: 444px;
        }
        .content-produto12 {
            width: 290px;
            height: 100%;
            max-height: 300px;
        }
        .produto-icon {
            position: relative;
            width: auto;
            height: 444px;
            flex-shrink: 0;
        }
    }
    .frame-parent45 {
        height: 100%;
        width: 100%;
        border-radius: 8px;
        border: 1px solid #dbdade;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .box-ofertas {
        background-color: #FD7E14;
        color: #fff;
        display: flex;
        flex-direction: column;
        padding: 16px;
        box-sizing: border-box;
        gap: 17px;
        align-items: flex-start;
        justify-content: flex-start;
        .acute-parent {
            display: flex;
            flex-direction: row;
            gap: 8px;
            font-size: 32px;
            align-items: flex-start;
            justify-content: flex-start;
        }
        
        .ofertas-do-dia-parent {
            min-width: 250px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 10px;
            font-size: 24px;
        }
        .b {
            position: relative;
            line-height: 100%;
        }
        .aproveite-essas-ofertas {
            align-self: stretch;
            position: relative;
            font-size: 13px;
            line-height: 100%;
            font-weight: 500;
        }
        .acute-icon {
            position: relative;
            width: 48px;
            height: 48px;
            flex-shrink: 0;
        }
        .hrs {
            position: relative;
            font-size: 14px;
            line-height: 100%;
        }
        .parent {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 40px !important;
        }
    }
    .content-produto12 {
        border-radius: 4px;
        padding: 24px;
        box-sizing: border-box;
        font-size: 20px;
        color: #212529;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .frame-parent46 {
            display: flex;
            align-self: stretch;
            flex: 1;
            justify-content: space-between;
            flex-direction: column;
            align-items: flex-start;
        }
        .ecu-pro-tune-pr-sport-parent {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            align-self: stretch;
            flex-direction: column;
            gap: 8px;
            .ecu-pro-tune {
                align-self: stretch;
                position: relative;
                line-height: 120%;
                font-weight: 600;
              }
        }  
        .frame-group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            justify-content: flex-start;
            gap: 16px;
            font-size: 15px;
            color: #6C757D;
            .button26 {
                align-self: stretch;
                border-radius: var(--br-7xs);
                background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), #28c76f;
                box-shadow: 0 2px 4px rgba(165, 163, 174, 0.3);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                color: #fff;
            }
            .button1 {
                padding: 10px 20px;
                gap: 8px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                .text {
                    position: relative;
                    letter-spacing: 0.43px;
                    font-weight: 600;
                    color: #fff;
                }
                .bag-shop-icon {
                    position: relative;
                    width: 18px;
                    height: 18px;
                    flex-shrink: 0;
                }
            }
              
        }        
    }
}
.search__header + .search__body .product-card.search-engine__item.product-card--small {
    * {
        font-size: 12px !important;
    }
    .product-card__buy.fade {
        display: none;
    }
    .discount-tag-price img {
        height: 18px;
    }
}
@media (min-width: 992px) {
    #desktop {
        display: block;
    }
    #mobile {
        display: none;
    }
}
@media (max-width: 991.99px) {
    #desktop {
        display: none;
    }
    #mobile {
        display: block;
    }
}
.multiple-collection-shelf {
    .products-carousel__title {
        @media(max-width: 992px) {
            padding: 0 var(--spacer-2);
        }
        
        a::before {
            background: #c01818;
            content: " ";
            height: 4px;
            margin-top: -1rem;
            position: absolute;
            top: 0;
            width: 59px;
        }
        &::before {
            background: unset;
        }
        @media (min-width: 768px){
            padding: 0 3rem;
          }
        @media (min-width: 992px) {
            padding: 0 4rem;
        }
        @media(min-width: 1440px) {
            a, span {
                max-width: var(--content-max-width);
                display: flex;
                margin: var(--spacer-4) auto;
                padding: 0 4rem;
                &::before {
                    left: 4rem;
                }
            }
        }

        
    }
    .products-carousel-tabs {
        &__list {
            align-items: center;
            display: flex;
            flex-wrap: nowrap;
            list-style: none;
            overflow-x: auto;
            max-width: var(--content-max-width);
            margin: var(--spacer-4) auto;
            @media(max-width: 992px) {
                padding: 0 var(--spacer-2);
            }
            padding-left: 0;
            @media (min-width: 1440px) {
                padding-left: 4rem;
            }
    
            li {
                min-width: 40%;
            }
        }
        @media (min-width: 768px){
            padding: 0 3rem;
            li {
              min-width: unset;
            }
          }
        @media (min-width: 992px) {
            padding: 0 4rem;
            li {
              min-width: unset;
            }
        }
        &__title {
            padding-bottom: 7px;
            margin-right: 1rem;
            &.is-active, &:hover {
                border: 2px solid #c01818;
                opacity: 1 !important;
                cursor: pointer;
            }
        }
    }
}
.products-carousel-tabs__title {
    &.is-active {
        h4 {
            color: #c01818
        }
    }
    border-radius: 8px;
    border: 1px solid #dbdade;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 10px 16px;
    align-items: center;
    justify-content: center;
    h4 {
        margin-bottom: unset !important;
        color: #4b465c;
    }
}

#marketing-footer {
    .html-clearfix {
        margin-top: 0;
    }
}
body article:not(.page--home) + .footer {
    padding-top: 0;
    border-top: 0;
}
.product-card--small .product-card__picture img, .product-card--small .product-card__pictures {
    max-height: 300px;
}
.product-card--small .product-card__pictures {
    height: auto;
}
#page-home {
    .footer #marketing-footer {
        display: none;
    }
}
.footer .collapse {
    display: block;
}
.gallery__thumbs {
    flex: 1 1 100% !important
}