<% if (Array.isArray(opt.items) && opt.items.length) {
  %>

  <section
    class="products-carousel"
    data-size="<%= opt.items.length %>"
  >

    <div
      class="glide"
      data-wait-mutation="true"
      data-per-view="1"
      data-per-view-md="1"
      data-per-view-sm="1"
    >
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides products-carousel__list">
          <% for (let i = 0; i < opt.items.length; i++) { %>
            <li class="glide__slide products-carousel__item">
              <%- await include('@/sections/inc/product-item-timer', {
                _, opt: { item: opt.items[i], opt.maxHours, opt.end }
              }) %>
            </li>
          <% } %>
        </ul>

        <div
          class="glide__arrows glide__arrows--outer"
          data-glide-el="controls"
        >
          <button
            class="btn glide__arrow glide__arrow--left"
            data-glide-dir="<"
            aria-label="<%= _.dictionary('previous') %>"
          >
            <i class="i-chevron-left"></i>
          </button>
          <button
            class="btn glide__arrow glide__arrow--right"
            data-glide-dir=">"
            aria-label="<%= _.dictionary('next') %>"
          >
            <i class="i-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </section>
<% } %>
